@extends("home.app")

@section("title","港航公安局管理系统")

@section("content")
        <div class="chat-user">
            <div class="chat-con">
                <img class="img-user" src="/themes/index/images/img-user.png" />
                <div class="right-con">
                   <span>同志</span><img src="/themes/index/images/icon-call.png" /> 您好，欢迎来到求真的世界，务实的港航，请问我能为您提供什么服务？
                </div>
            </div>
            <img class="img-chat-1" src="/themes/index/images/img-chat-1.png" />
        </div>



        <div class="chat-user2">
            <div class="chat-con2">
                <div class="row-line">
                    <img class="img-user" src="/themes/index/images/img-user.png" />
                    <div class="right-con2">
                        <span>请点击选择需要的服务<img src="/themes/index/images/icon-sz.png" /></span>
                    </div>
                </div>
                <ul>
                    <li><a href="/news/"><img src="/themes/index/images/icon-dz.png" />_我要学习</a></li>
                    <!--<li><a href="#"><img src="/themes/index/images/icon-dz.png" />_我要美化自己的家园</a></li> -->
                     <!--<li><a href="#"><img src="/themes/index/images/icon-dz.png" />_我要访友</a></li>-->
                     <!--<li><a href="#"><img src="/themes/index/images/icon-dz.png" />_我要开会</a></li>-->
                    <li><a href="/discuss"><img src="/themes/index/images/icon-dz.png" />_我要参与讨论</a></li>
                    <li><a href="/work/"><img src="/themes/index/images/icon-dz.png" />_我要进行党务工作</a></li>
                    <li><a href="/suggest/"><img src="/themes/index/images/icon-dz.png" />_我有意见和建议</a></li>
                </ul>
            </div>
            <img class="img-chat-1" src="/themes/index/images/img-chat-2.png" />
        </div>
		
		@foreach($data as $k=>$val)
		<div>
		@if($val["id"] > 1 && $val["id"] < 4)
			{{ $val["title"] }}
		@elseif ($val["id"] == 4)
			@foreach($val["list"] as $res)
			<li>{{ $res["title"] }}</li>
			@endforeach
		@endif
		</div>
		@endforeach
		
@endsection