<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding">
							<ul class="navigation navigation-main navigation-accordion">

								<!-- Main -->
								<li class="navigation-header"><span>菜单</span> <i class="icon-menu" title="Main pages"></i></li>
								<li><a href="/admin/"><i class="icon-home4"></i> <span>主页</span></a></li>
								<?php $menus = cache('menus');?>
								@foreach($menus as $val)
								<li>
									<a href="#"><i class="{{ $val["style"] }}"></i> <span>{{ $val["name"] }}</span></a>
									<ul>
										@foreach($val["items"] as $sub)
										<li @if($_SERVER["PATH_INFO"] == $sub["url"]) class="active"@endif><a href="{{ $sub["url"] }}">{{ $sub["name"] }}</a></li>
										@endforeach
									</ul>
								</li>
								@endforeach
								<!-- /main -->

							</ul>
						</div>
					</div>