@extends("admin.app")

@section("title","后台管理系统")

@section("content")

<div class="content">
	<div class="panel page-header border-top-primary" style="padding-bottom: 0;">
		<div class="page-header-content">
			<div class="page-title">
				<h5>
					<i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">菜单管理</span>
				</h5>
			</div>
	
			<div class="heading-elements">
				<button type="button" class="btn btn-primary heading-btn" id="add">添加</button>
				<button type="button" class="btn btn-primary heading-btn" id="edit">编辑</button>
				<button type="button" class="btn btn-primary heading-btn" id="remove">删除</button>
			</div>
		</div>
	
		<div class="breadcrumb-line breadcrumb-line-wide" style="box-shadow: none;">
			<ul class="breadcrumb">
				<li><a href="/admin/"><i class="icon-home2 position-left"></i> Home</a></li>
				<li><a href="/admin/menu/">菜单管理</a></li>
				<li class="active">菜单列表</li>
			</ul>
		</div>
	</div>
	
	<div class="panel panel-flat">
	  <div class="table-responsive">
		<table class="table">
		  <thead>
			<tr>
			  <th>#</th>
			  <th>菜单名称</th>
			  <th>Url</th>
			  <th>管理</th>
			</tr>
		  </thead>
		  <tbody>
		  	@foreach($list as $k=>$val)
			<tr>
			  <td>{{ $k+1 }}</td>
			  <td>@if($val["parentid"] > 0) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @endif {{ $val["name"] }}</td>
			  <td>{{ $val["url"] }}</td>
			  <td>编辑 | 删除</td>
			</tr>
			@endforeach

		  </tbody>
		</table>
	  </div>
	</div>
</div>
@endsection

@section("loadJS")
<script>
  $(function(){
  	  $("#add").click(function(){
	  	  location.href = "/admin/menu/add";
	  })
  })
</script>
@endsection